/*---------------------------\
         DESKTOP
\---------------------------*/
/*---------------------------\
        $VARIABLES
\---------------------------*/
/*----------------------------------\
          @MIXINS
 \---------------------------------*/
/*----------------------------------\
          %PLACE HOLERS
 \---------------------------------*/
body {
  /*--------------------------\
           Global
\--------------------------*/
  overflow-x: hidden;
}

@media only screen and (min-width: 900px) {
  body .header {
    width: 100vw;
    height: 70px;
    position: relative;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .header__container {
    width: 100%;
    padding: 0 120px 0 120px;
  }
  body .header__container .mobile-menu {
    display: none;
  }
  body .header__container .nav__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 1fr;
        grid-template-columns: 4fr 1fr;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .header__container .nav__container .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  body .header__container .nav__container .menu__container__item {
    margin-right: 25px;
  }
  body .header__container .nav__container .menu__container a {
    text-decoration: none;
    color: #525252;
    font-size: 2rem;
    font-weight: 1.5rem;
  }
  body .header__container .nav__container .menu__container a:hover {
    color: #0E0E0E;
    border-bottom: 3px solid #540298;
    padding-bottom: 24px;
    cursor: pointer;
  }
  body .header__container .nav__container .checkbox {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  body .header__container .nav__container .checkbox__switch {
    display: none;
  }
  body .header__container .nav__container .checkbox__btn-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
    margin: 0 2rem;
  }
  body .header__container .nav__container .checkbox__btn-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  body .header__container .nav__container .checkbox__btn-switch label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: #FFFFFF;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  body .header__container .nav__container .checkbox__btn-switch label:hover {
    opacity: 0.8;
  }
  body .header__container .nav__container .checkbox__btn-switch label::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #080326;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  body .header__container .nav__container .checkbox__btn-switch input:checked + label:before {
    content: "";
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
  }
  body .main .svg__hero {
    display: block;
  }
  body .main .svg__hero--mobile {
    display: none;
  }
  body .main .hero {
    height: 80vh;
    padding-top: 5%;
  }
  body .main .hero__params {
    padding: 2.5rem 0;
  }
  body .main .hero__params br {
    display: none;
  }
  body .main .works {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 4rem 2rem;
  }
  body .footer .team {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem 2.5rem;
  }
  body .footer .team .member {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

body.dark .header .menu__container__item a:hover {
  color: #FFFFFF;
}
/*# sourceMappingURL=desktop.css.map */