/*---------------------------\
            DESKTOP
\---------------------------*/
//@imports
//lib
@import "./lib/variables";
@import "./lib/mixins";
@import "./lib/place-holders";

body {
    /*--------------------------\
    Global
    \--------------------------*/
    overflow-x: hidden;
    @include respond-to(900px) {

        //desktop-modules
        @import "./desktop-modules/header";
        @import "./desktop-modules/footer";

        .main {
            .hero {
                height: 80vh;
                padding-top: 5%;

                &__params {
                    padding: 2.5rem 0;
                    br { display: none }
                }
            }
            .works {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 4rem 2rem;
            }
        }
    }
}

// DARK MODE ITEM:HOVER
body.dark
{
    .header {
        .menu__container {
            &__item {
                a:hover { color: $Items-gray }
            }
        }
    }
}