
header {
    width: 100vw;
    height: 80px;
    background-color: $Background-light-darkerBase;
    position: fixed;

    .header__container {
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        @extend %logo;
        padding: 0 1em;
    }

    .nav__container {
        display: none;
    }

    .mobile-menu {
        .lbl-menu .spn1, .spn2, .spn3{
            position: relative;
            background: $Title-light-darkGray;
            width: 30px;
            height: 3px;
            border-radius: 5px;
            transition: all 500ms ease;
        }
        .spn2{
            margin: 5px 0;
        }
    }

    .menu-check{
        display: none;
        &:checked {
            & ~ .mobile-menu{
                z-index: 3;
                .lbl-menu {
                    .spn1 {
                        transform: rotate(45deg);
                        top: 6px;
                        background: $Background-dark-base;
                    }
                    .spn2 {
                        opacity: 0;
                    }
                    .spn3 {
                        transform: rotate(-45deg);
                        top: -10px;
                        background: $Background-dark-base;
                    }
                }
            }
            & ~ .nav__container {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                text-align: center;
                background-color: $Background-light-base;
                border-radius: 0 0 35% 35%;
                .menu {
                    .menu__container{
                        list-style:none;
                        width: 80%;
                        margin: 6em auto 4em;
                    &__item {
                        padding: 1em 0;
                        background: $Items-gray;
                        border: none;
                        &:first-child {
                            border-radius: 30px 30px 0 0;
                        }
                        &:last-child {
                            border-radius: 0 0 30px 30px;
                        }
                        a {
                            text-decoration: none;
                            color: $Title-light-darkGray;
                            font-size: $p-size;
                            font-weight: $p-W;
                        }
                    }
                    }
                }

                .checkbox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 5em;
                    z-index: 3;
                    .checkbox__btn-swtich {
                        position: relative;
                        display: inline-block;
                        background-color: $Items-gray;
                        padding: 5px;
                        border-radius: 50px;
                        width: 60px;
                        height: 30px;
                        label:after {
                            content: "";
                            position: absolute;
                            background-color: $Background-light-base;
                            width: 30px;
                            height: 30px;
                            border-radius: 100%;
                            left: 5px;
                            top: 5;
                            transition: all 700ms ease;
                        }
                    }
                    .checkbox__switch{
                        font-size: $H3-size;
                        font-weight: $Title-W;
                        margin-right: 30px;
                    }
                    .checkbox__input {
                        display: none;
                        &:checked {
                            & ~ label:after{
                                background-color: $Swtich-btn;
                                transform: translate(30px);
                            }
                        }
                    }
                }
                .black-background {
                    position: absolute;
                    bottom: -200%;
                    top: 0;
                    left: 0;
                    right: 0;
                    background-color: $Title-light-darkGray;
                    z-index: -1;
                }
            }
        }
    }
}
