.header {
    width: 100vw;
    height: 70px;
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: space-between;

    &__container {
        width: 100%;
        padding: 0 120px 0 120px;

        .mobile-menu {
            display: none;
        }

        .nav__container {
            display: grid;
            grid-template-columns: 4fr 1fr;
            width: 100%;
            align-items: center;

            .menu {
                &__container {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    list-style: none;

                    &__item{
                        margin-right: 25px;
                    }
                    a {
                        text-decoration: none;
                        color: $Text-light-gray;
                        font-size: $p-size;
                        font-weight: $i-size;
                        &:hover {
                            color: $Title-light-darkGray;
                            border-bottom: 3px solid $Global-purple;
                            padding-bottom: 24px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .checkbox {
                justify-self: center;
                &__switch {
                    display: none;
                }
                &__btn-switch {
                    position: relative;
                    display: inline-block;
                    width: 40px;
                    height: 25px;
                    margin: 0 2rem;

                    input {
                        display: none;
                    }

                    label {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 50px;
                        background-color: $Items-gray;
                        transition: 0.3s;

                        &:hover {
                            opacity: 0.8; 
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            height: 18px;
                            width: 18px;
                            left: 4px;
                            bottom: 4px;
                            border-radius: 50%;
                            background-color: $Swtich-btn;
                            transition: 0.3s;
                        }
                    }

                input:checked + label:before {
                        content: "";
                        transform: translateX(15px);
                        -webkit-transform: translateX(15px);
                    }
                }
            }
        }
    }
}